e2etest_*

# Go build and test artifacts
*.test
*.out
coverage.out
.gomodcache
.gocache

# Compiled binaries and shared objects
*.exe
*.exe~
*.dll
*.so
*.dylib

# macOS
.DS_Store

# Editor settings
.idea/
.vscode/
coverage.txt
.tmp/
.env.local
coverage